@font-face {
  font-family: "Euclid";
  src: url("../vendor/fonts/EuclidCircularB-Regular.ttf");
}

@font-face {
  font-family: "Euclid Medium";
  src: url("../vendor/fonts/EuclidCircularB-Medium.ttf");
}
@font-face {
  font-family: "Euclid Bold";
  src: url("../vendor/fonts/EuclidCircularB-Bold.ttf");
}

@font-face {
  font-family: "Euclid Light";
  src: url("../vendor/fonts/EuclidCircularB-Light.ttf");
}
